---
import Navigation from "../components/Navigation.astro";
import Socials from "../components/Socials.astro";
import "@picocss/pico/css/pico.classless.cyan.min.css";

interface Props {
	title?: string;
	description?: string;
}

const { title = "Nick Sedney's Website", description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="container">
		<header>
			<Navigation />
			<hgroup>
				<h1>{title}</h1>
				{description && <p>{description}</p>}
			</hgroup>
		</header>

		<main>
			<slot />
		</main>

		<footer>
			<Socials />
		</footer>
	</body>
</html>
