<nav aria-label="Social media">
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/nicholas-sedney-5a09492a5" rel="me">
                LinkedIn
            </a>
        </li>

        <li>
            <a href="https://github.com/nsedney" rel="me">Github</a>
        </li>

        <li>
            <a href="https://bsky.app/profile/nicksedney.com" rel="me">
                Bluesky
            </a>
        </li>
    </ul>
</nav>