---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nick Sedney's Home" description="This my website!">
	<p>
		This is my home page! Here I'll talk about things that I think are neat.
	</p>
</Layout>
